html {
  scroll-behavior: smooth; /*suaviza mudança de sessao*/
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
  background-color: #ece5df;
  scroll-behavior: smooth; /*suaviza mudança de sessao*/
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

a,
ul {
  text-decoration: none;
  list-style: none;
  color: black;
}

header {
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2vw;
  position: fixed;
  width: 96vw;
  z-index: 1000;
}

header #Logo {
  font-family: "Poiret One", sans-serif;
  font-size: 2rem;
}

header nav {
  display: flex;
  align-items: center;
  gap: 2vw;
}

header nav button {
  background-color: #dfc8b6;
  color: white;
  border: none;
  width: 8vw;
  height: 3vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

header nav button:hover {
  background-color: white;
  color: #dfc8b6;
  border: 2px solid black;
}

header nav ul {
  display: flex;
  gap: 2vw;
}

main {
  padding-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main #Home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main #Home .texto-apresentacao {
  width: 30vw;
}
main #Home .texto-apresentacao h1 {
  font-size: 3rem;
}

main #Home .texto-apresentacao span {
  color: #958d87;
}

main #Home .texto-apresentacao p {
  font-weight: 300;
}

main #Home img {
  width: 35vw;
}

main #Sobre {
  margin-block-start: 4vw;
  background-color: #1d361f;
  color: white;
  width: 97vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1vw;
  padding-block: 4vw;
  position: relative;
}

main #Sobre #folha1 {
  position: absolute;
  right: 2vw;
  top: 2.5vw;
  width: 12vw;
  opacity: 40%;
}

main #Sobre #folha2 {
  position: absolute;
  bottom: 2vw;
  left: 3vw;
  width: 12vw;
  opacity: 40%;
}

main #Sobre h2 {
  font-weight: bolder;
  font-size: 2rem;
}

main #Sobre h2 span {
  padding: 0;
  -webkit-text-stroke: 1.5px white;
  color: transparent;
  letter-spacing: 2px; /*espaçamento entre letras*/
}

main #Sobre p {
  width: 50vw;
}

main #Produtos {
  width: 95vw;
  padding: 2vw;
  background-image: url(images/fundo-produtos.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
}

main #Produtos h2 {
  text-align: center;
}

main #Produtos .lista-produtos {
  display: flex;
  justify-content: space-around;
}

main #Produtos .lista-produtos .produto {
  display: flex;
  width: 17vw;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 10px;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

main #Produtos .lista-produtos .produto:hover {
  transform: scale(1.1);
}

main #Produtos .lista-produtos .produto img {
  width: 10vw;
}

main #Produtos .lista-produtos .produto .img {
  height: 100%;
  display: flex;
  align-items: center;
}

main #Produtos .lista-produtos .produto .nome-botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4c8b6;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 1vw;
}

main #Produtos .lista-produtos .produto .nome-botao hr {
  width: 80%;
  border: none;
  height: 1.5px;
  background-color: white;
}

main #Produtos .lista-produtos .produto .nome-botao button {
  background-color: #d9d9d9;
  color: white;
  border-radius: 20px;
  border: none;
  height: 2vw;
  transition: 0.5s ease;
  cursor: pointer;
}

main #Produtos .lista-produtos .produto .nome-botao button:hover {
  background-color: white;
  color: #d9d9d9;
}

main #Diferenciais {
  padding-block: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

main #Diferenciais img {
  width: 25vw;
}

main #Diferenciais .texto-diferenciais {
  width: 60vw;
}
main #Diferenciais .texto-diferenciais ul {
  line-height: 2;
}

main #Diferenciais .texto-diferenciais ul li span {
  font-weight: bold;
}

main #Depoimentos {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 96%;
  align-items: center;
}

main #Depoimentos .cards-depoimento {
  display: flex;
  justify-content: space-around;
  width: 96%;
  margin-block: 2vw;
}

main #Depoimentos .depoimento {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 27vw;
  background-color: #859b48;
  padding: 1vw;
  color: white;
  border-radius: 20px;
  line-height: 1.7;
}

main #Depoimentos .depoimento hr {
  width: 90%;
  border: none;
  height: 2px;
  background-color: #c4c8b6;
}

main #Depoimentos .depoimento .nome-avaliacao {
  display: flex;
  height: 4vw;
  padding: 1vw;
  align-items: center;
  justify-content: space-between;
}


footer {
  padding: 3vw;
  background-color: #C4C8B6;
  color: white;
}

footer .superior-footer {
  padding-block: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .superior-footer > p {
  font-size: 4.5vw;
  font-weight: bolder;
  line-height: 1.4;
  color: #859B48;
}

footer .superior-footer > p span {
  color: #1D361F;
}

footer .superior-footer .email {
  position: relative;
}

footer .superior-footer .email button {
  position: absolute;
  top: 4.35vw;
  right: 1vw;
  background-color: #1D361F;
  font-weight: bolder;
  width: 2vw;
  height: 2vw;
  border: none;
  color: white;
  border-radius: 10px;
}

footer .superior-footer .email input {
  width: 25vw;
  padding: 1vw;
  border-radius: 10px;
  border: none;
  background-color: #D9D9D9;
  color: white;
}

footer hr {
  background-color: white;
  border: none;
  height: 2px;
}

footer .inferior-footer {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

footer .inferior-footer .links {
  display: flex;
  justify-content: space-around;
  width: 70vw;
}

footer .inferior-footer .links ul {
  line-height: 2.4;
  color: white;
}

footer .inferior-footer .links ul .title {
  font-weight: bold;
}

footer .inferior-footer .links ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}