/*CONFIGS: */

html {
  scroll-behavior: smooth; /*suaviza mudança de sessao*/
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  background-color: #ece5df;
  scroll-behavior: smooth; /*suaviza mudança de sessao*/
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

input,
button {
  font-size: 1.25rem;
}

a,
ul {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 1.25rem;
}

/*SESSAO 1: */
#menu-responsivo {
  display: none;
}

#responsive-footer {
  display: none;
}

#menu {
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2vw;
  position: fixed;
  width: 96vw;
  z-index: 1000;
  background-color: #ece5df;
}

#menu #Logo {
  font-family: "Poiret One", sans-serif;
  font-size: 2rem;
}

#menu nav {
  display: flex;
  align-items: center;
  gap: 2vw;
}

#menu nav button {
  background-color: #dfc8b6;
  color: white;
  border: none;
  width: 8vw;
  height: 3vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

#menu nav button:hover {
  background-color: white;
  color: #dfc8b6;
  border: 2px solid black;
}

#menu nav ul {
  display: flex;
  gap: 2vw;
}

main {
  padding-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*SESSAO 2*/

main #Home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}

main #Home .texto-apresentacao {
  width: 30vw;
}
main #Home .texto-apresentacao h1 {
  font-size: 3rem;
}

main #Home .texto-apresentacao span {
  color: #958d87;
}

main #Home .texto-apresentacao p {
  font-weight: 300;
}

main #Home img {
  width: 35vw;
}

/*SESSAO 3: */

main #Sobre {
  margin-block-start: 4vw;
  background-color: #1d361f;
  color: white;
  width: 97vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1vw;
  padding-block: 4vw;
  position: relative;
}

main #Sobre #folha1 {
  position: absolute;
  right: 2vw;
  top: 2.5vw;
  width: 12vw;
  opacity: 40%;
}

main #Sobre #folha2 {
  position: absolute;
  bottom: 2vw;
  left: 3vw;
  width: 12vw;
  opacity: 40%;
}

main #Sobre h2 {
  font-weight: bolder;
  font-size: 2rem;
}

main #Sobre h2 span {
  padding: 0;
  -webkit-text-stroke: 1.5px white;
  color: transparent;
  letter-spacing: 2px; /*espaçamento entre letras*/
}

main #Sobre p {
  width: 50vw;
}

/*SESSAO 4: */

main #Produtos {
  width: 95vw;
  padding: 2vw;
  background-image: url(images/fundo-produtos.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
}

main #Produtos h2 {
  text-align: center;
}

main #Produtos .lista-produtos {
  display: flex;
  justify-content: space-around;
}

main #Produtos .lista-produtos .produto {
  display: flex;
  width: 17vw;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 10px;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

main #Produtos .lista-produtos .produto:hover {
  transform: scale(1.1);
}

main #Produtos .lista-produtos .produto img {
  width: 10vw;
}

main #Produtos .lista-produtos .produto .img {
  height: 100%;
  display: flex;
  align-items: center;
}

main #Produtos .lista-produtos .produto .nome-botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4c8b6;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 1vw;
}

main #Produtos .lista-produtos .produto .nome-botao hr {
  width: 80%;
  border: none;
  height: 1.5px;
  background-color: white;
  margin-bottom: 2vw;
}

main #Produtos .lista-produtos .produto .nome-botao button {
  background-color: #d9d9d9;
  color: white;
  border-radius: 20px;
  border: none;
  width: 10vw;
  height: 3vw;
  transition: 0.5s ease;
  cursor: pointer;
  font-size: 1.2rem;
}

main #Produtos .lista-produtos .produto .nome-botao button:hover {
  background-color: white;
  color: #d9d9d9;
}

/*SESSAO 5: */

main #Diferenciais {
  padding-block: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

main #Diferenciais img {
  width: 25vw;
}

main #Diferenciais .texto-diferenciais {
  width: 60vw;
}
main #Diferenciais .texto-diferenciais ul {
  line-height: 2;
  width: 100%;
  padding: 0;
}

main #Diferenciais .texto-diferenciais ul li span {
  font-weight: bold;
}

/*SESSAO 6: */

main #Depoimentos {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 96%;
  align-items: center;
}

main #Depoimentos .cards-depoimento {
  display: flex;
  justify-content: space-around;
  width: 96%;
  margin-block: 2vw;
}

main #Depoimentos .depoimento {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 27vw;
  background-color: #859b48;
  padding: 1vw;
  color: white;
  border-radius: 20px;
  line-height: 1.7;
}

main #Depoimentos .depoimento hr {
  width: 90%;
  border: none;
  height: 2px;
  background-color: #c4c8b6;
}

main #Depoimentos .depoimento .nome-avaliacao {
  display: flex;
  height: 4vw;
  padding: 1vw;
  align-items: center;
  justify-content: space-between;
}

/*SESSAO 6: */

#contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dfc8b6;
  color: white;
}

#contatos p {
  padding: 5vw;
  width: 50%;
  line-height: 1.5;
}

#contatos form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  width: 100%;
  gap: 3.5vw;
  padding-block: 2vw;
}

#contatos .form-placeholder {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4vw;
}

#contatos .form-placeholder input {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  width: 80%;
  margin: 2vw;
  padding: 1vw;
}

#contatos button {
  background-color: black;
  color: white;
  border: 2px solid white;
  width: 10vw;
  height: 4vw;
  border-radius: 10px;
}

textarea {
  height: 5vw;
  margin: 2vw;
  padding: 1vw;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  width: 40%;
  font-size: 1.25rem;
}

/*FOOTER: */

#footer {
  padding: 3vw;
  background-color: #c4c8b6;
  color: white;
}

#footer .superior-footer {
  padding-block: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .superior-footer > p {
  font-size: 4.5vw;
  font-weight: bolder;
  line-height: 1.4;
  color: #859b48;
}

#footer .superior-footer > p span {
  color: #1d361f;
}

#footer .superior-footer .email .button-input {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#footer .superior-footer .email button {
  background-color: #1d361f;
  width: 6vw;
  height: 2.5vw;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#footer .superior-footer .email input {
  width: 25vw;
  padding: 1vw;
  border-radius: 10px;
  border: none;
  background-color: #d9d9d9;
  color: white;
}

#footer hr {
  background-color: white;
  border: none;
  height: 2px;
}

#footer .inferior-footer {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

#footer .inferior-footer .links {
  display: flex;
  justify-content: space-around;
  width: 70vw;
}

#footer .inferior-footer .links ul {
  line-height: 2.4;
  color: white;
}

#footer .inferior-footer .links ul .title {
  font-weight: bold;
}

#footer .inferior-footer .links ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* RESPONSIVIDADE: */

@media (max-width: 1240px) {
  #menu {
    height: 7vw;
  }
  #menu nav button {
    width: 15vw;
    height: 4vw;
  }

  /*SESSAO 1: */
  main #Home {
    gap: 5vw;
  }

  main #Home .texto-apresentacao {
    width: 40vw;
  }

  /*SESSAO 3: */
  main #Produtos .lista-produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 8vw;
  }
  main #Produtos .lista-produtos .produto {
    width: 35vw;
  }

  main #Produtos .lista-produtos .produto img {
    width: 15vw;
  }

  main #Produtos .lista-produtos .produto .nome-botao button {
    height: 5vw;
    width: 20vw;
    font-size: 1.2rem;
  }
  main #Produtos .lista-produtos .produto .nome-botao {
    padding-bottom: 2vw;
  }

  /*SESSAO 5: */
  main #Depoimentos .cards-depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vw;
  }

  main #Depoimentos .depoimento {
    width: 45vw;
  }

  /*FOOTER: */
  #footer .superior-footer .email button {
    display: none;
  }

  #footer .superior-footer .email input {
    width: 35vw;
  }

  /*FOOTER: */
  #footer .inferior-footer .links {
    width: 80vw;
  }
}

@media (max-width: 770px) {
  .texto-diferenciais h2 {
    text-align: center;
  }
  main #Diferenciais img {
    display: none;
  }
  #menu {
    display: none;
    position: static;
    margin: 0;
  }
  #menu-responsivo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    background-color: black;
    color: white;
  }

  #menu-responsivo p {
    font-family: "Poiret One", sans-serif;
    font-size: 2rem;
  }

  /*SESSAO 1: */

  main #Home {
    flex-direction: column;
  }

  main #Home img {
    width: 80vw;
  }

  main #Home .texto-apresentacao {
    width: 80%;
  }

  /*SESSAO 2: */
  main #Sobre p {
    width: 70%;
  }

  /*SESSAO 3: */

  main #Produtos {
    padding-block: 8vw;
  }

  main #Produtos .lista-produtos {
    row-gap: 25vw;
  }

  main #Produtos .lista-produtos .produto {
    width: 44vw;
    height: 50vw;
  }

  main #Produtos .lista-produtos .produto img {
    width: 22vw;
  }

  main #Produtos .lista-produtos .produto .nome-botao {
    padding-bottom: 5vw;
  }

  main #Produtos .lista-produtos .produto .nome-botao button {
    width: 30vw;
    height: 6vw;
  }

  /*SESSAO 5: */
  main #Depoimentos .cards-depoimento {
    gap: 5vw;
  }

  main #Depoimentos .depoimento {
    width: 60vw;
  }

  /*SESSAO 6: */
  textarea {
    height: 15vw;
    width: 60%;
  }

  #contatos button {
    width: 25vw;
    height: 8vw;
  }
  /*FOOTER: */

  #footer .superior-footer .email input {
    width: 35vw;
  }

  #footer .superior-footer .email button {
    display: none;
  }

  #footer .inferior-footer .links {
    width: 95vw;
  }
}

@media (max-width: 481px) {
  ul,
  button,
  textarea {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  h2,
  main #Sobre h2 {
    font-size: 1.7rem;
  }

  main #Sobre p {
    width: 80vw;
  }

  body p {
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: justify;
  }

  li {
    margin-block: 1.5vw;
  }

  #menu-responsivo #logo-resp {
    font-size: 1.7rem;
  }

  /*SESSAO 2: */

  main #Home {
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }
  main #Home .texto-apresentacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main #Home img {
    width: 70vw;
  }

  /*SESSAO 3: */
  main #Produtos .lista-produtos {
    gap: 10vw;
  }

  main #Produtos .lista-produtos .produto {
    width: 42vw;
    height: 60vw;
  }

  main #Produtos .lista-produtos .produto img {
    width: 20vw;
  }

  main #Produtos .lista-produtos .produto .nome-botao {
    padding-bottom: 2vw;
  }

  main #Produtos .lista-produtos .produto .nome-botao p {
    text-align: center;
    margin-bottom: 0;
  }

  main #Produtos .lista-produtos .produto .nome-botao button {
    width: 37vw;
    height: 8vw;
  }
  /*SESSAO 4: */

  main #Diferenciais img {
    display: none;
  }
  /*SESSAO 5: */

  main #Depoimentos .cards-depoimento {
    gap: 7vw;
  }

  main #Depoimentos .depoimento {
    width: 80vw;
    padding: 5vw;
  }

  main #Depoimentos .depoimento {
    font-size: 1.2rem;
  }

  /*SESSAO 6: */

  #contatos p {
    padding: 5vw;
    width: 80%;
  }

  #contatos form {
    width: 100%;
    padding-block: 5vw;
    gap: 3.5vw;
  }

  #contatos .form-placeholder {
    gap: 4vw;
    margin-block: 5vw;
  }

  #contatos .form-placeholder input,
  #contatos textarea {
    width: 80%;
    margin: 2vw;
    padding: 1vw;
  }

  #contatos button {
    width: 30vw;
    height: 10vw;
    border-radius: 10px;
  }

  textarea {
    height: 25vw;
  }
  /*FOOTER: */
  #footer {
    display: none;
  }
  #responsive-footer {
    width: 90%;
    padding: 5vw;
    background-color: #c4c8b6;
  }

  #responsive-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #responsive-footer #Logo {
    font-size: 1.7rem;
    font-family: "Poiret One", sans-serif;
  }

  #responsive-footer p {
    font-weight: bold;
  }

  #responsive-footer p span {
    color: #1d361f;
  }
}

@media (max-width: 361px) {
  h2,
  main #Sobre h2 {
    font-size: 1.5rem;
  }

  body p,
  button,
  textarea,
  ul,
  input {
    font-size: 0.8rem;
  }

  /*SESSAO 2:*/

  main #Home .texto-apresentacao h1 {
    font-size: 2rem;
  }

  main #Home .texto-apresentacao p {
    width: 80%;
  }

  main #Home img {
    width: 80vw;
  }

  main #Sobre p {
    width: 80%;
  }

  /*SESSAO 3: */
  main #Produtos .lista-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30vw;
    padding-block: 2vw;
  }

  main #Produtos .lista-produtos .produto {
    width: 70vw;
    height: 90vw;
  }

  main #Produtos .lista-produtos .produto img {
    width: 40vw;
  }

  main #Produtos .lista-produtos .produto .nome-botao {
    padding-bottom: 4vw;
  }

  main #Produtos .lista-produtos .produto .nome-botao hr {
    margin-top: 3vw;
    margin-bottom: 6vw;
  }

  main #Produtos .lista-produtos .produto .nome-botao button {
    width: 45vw;
    height: 10vw;
    font-size: 0.8rem;
  }
  /*SESSAO 4: */

  main #Diferenciais {
    flex-direction: column-reverse;
    align-items: center;
  }
  main #Diferenciais img {
    display: none;
  }

  main #Diferenciais .texto-diferenciais ul {
    font-size: 0.8rem;
    gap: 10vw;
    display: flex;
    flex-direction: column;
  }
  /*SESSAO 5: */
  main #Depoimentos .cards-depoimento {
    gap: 30vw;
  }

  main #Depoimentos .depoimento {
    width: 80vw;
    height: 50vw;
    padding: 5vw;
  }

  main #Depoimentos .depoimento .nome-avaliacao h3 {
    font-size: 1.1rem;
  }
  main #Depoimentos .depoimento .nome-avaliacao img {
    width: 40vw;
  }

  /*SESSAO 6: */

  #contatos p {
    padding: 5vw;
  }

  #contatos h2 {
    text-align: center;
  }

  #contatos form {
    gap: 2vw;
  }

  #contatos .form-placeholder {
    gap: 6vw;
    margin-block: 10vw;
  }

  #contatos button {
    background-color: black;
    color: white;
    border: 2px solid white;
    width: 27vw;
    height: 10vw;
    border-radius: 10px;
  }
}
